.videoList-container {
  height: 50px;
  padding: 0 20px;
  line-height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  img {
    display: block;
    width: 16px;
    height: 18px;
  }
  .videoList-videolistitem {
    padding-left: 5px;
    color: #333;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    .videoList-videolistitem {
      color: #ef4c4f;
    }
    background:rgba(202,203,203,0.8);
  }
  &.videoList-active {
    .videoList-videolistitem {
      color: #ef4c4f;
    }
  }
}
