@font-face {
  font-family: 'zm-font';
  src:  url('./fonts/zm-font.eot?9zpgo8');
  src:  url('./fonts/zm-font.eot?9zpgo8#iefix') format('embedded-opentype'),
    url('./fonts/zm-font.ttf?9zpgo8') format('truetype'),
    url('./fonts/zm-font.woff?9zpgo8') format('woff'),
    url('./fonts/zm-font.svg?9zpgo8#zm-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zm-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #B0B2Bd;
}

.icon-add:before {
  content: "\e900";
}
.icon-alt:before {
  content: "\e901";
}
.icon-arrow_left:before {
  content: "\e902";
}
.icon-arrow_right:before {
  content: "\e903";
}
.icon-arrowup:before {
  content: "\e904";
}
.icon-back:before {
  content: "\e905";
}
.icon-beautyface:before {
  content: "\e906";
}
.icon-bell:before {
  content: "\e907";
}
.icon-blackboard:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-caps:before {
  content: "\e90a";
}
.icon-category:before {
  content: "\e90b";
}
.icon-changerole:before {
  content: "\e90c";
}
.icon-channel:before {
  content: "\e90d";
}
.icon-chat:before {
  content: "\e90e";
}
.icon-check:before {
  content: "\e90f";
}
.icon-circle:before {
  content: "\e910";
}
.icon-close:before {
  content: "\e911";
}
.icon-close-class:before {
  content: "\e912";
}
.icon-closeeye:before {
  content: "\e913";
}
.icon-delete:before {
  content: "\e914";
}
.icon-devicesound:before {
  content: "\e915";
}
.icon-disablebeautyface:before {
  content: "\e916";
}
.icon-disablecamera:before {
  content: "\e917";
}
.icon-disable-fill-chat:before {
  content: "\e918";
}
.icon-disablemai:before {
  content: "\e919";
}
.icon-disable-mai:before {
  content: "\e91a";
}
.icon-eacharrow:before {
  content: "\e91b";
}
.icon-easer:before {
  content: "\e91c";
}
.icon-ellipse:before {
  content: "\e91d";
}
.icon-error:before {
  content: "\e91e";
}
.icon-fill-chat:before {
  content: "\e91f";
}
.icon-find:before {
  content: "\e920";
}
.icon-guangbi:before {
  content: "\e921";
}
.icon-home:before {
  content: "\e922";
}
.icon-huyan:before {
  content: "\e923";
}
.icon-kaimai:before {
  content: "\e924";
}
.icon-line:before {
  content: "\e925";
}
.icon-linearrow:before {
  content: "\e926";
}
.icon-mai:before {
  content: "\e927";
}
.icon-max:before {
  content: "\e928";
}
.icon-min:before {
  content: "\e929";
}
.icon-more:before {
  content: "\e92a";
}
.icon-navarrowdown:before {
  content: "\e92b";
}
.icon-openeye:before {
  content: "\e92c";
}
.icon-pause:before {
  content: "\e92d";
}
.icon-pdf:before {
  content: "\e92e";
}
.icon-pen:before {
  content: "\e92f";
}
.icon-play:before {
  content: "\e930";
}
.icon-point:before {
  content: "\e931";
}
.icon-ppt:before {
  content: "\e932";
}
.icon-qingqiu:before {
  content: "\e933";
}
.icon-quit:before {
  content: "\e934";
}
.icon-rank:before {
  content: "\e935";
}
.icon-rectangle:before {
  content: "\e936";
}
.icon-rectclear:before {
  content: "\e937";
}
.icon-refresh:before {
  content: "\e938";
}
.icon-search:before {
  content: "\e939";
}
.icon-selectarrowdown:before {
  content: "\e93a";
}
.icon-setting:before {
  content: "\e93b";
}
.icon-sound:before {
  content: "\e93c";
}
.icon-star:before {
  content: "\e93d";
}
.icon-stickup:before {
  content: "\e93e";
}
.icon-student:before {
  content: "\e93f";
}
.icon-text:before {
  content: "\e940";
}
.icon-time:before {
  content: "\e941";
}
.icon-tool:before {
  content: "\e942";
}
.icon-triangle:before {
  content: "\e943";
}
.icon-trumpet:before {
  content: "\e944";
}
.icon-video:before {
  content: "\e945";
}
.icon-videoarrowdown:before {
  content: "\e946";
}
.icon-videodisablesound:before {
  content: "\e947";
}
.icon-videofresh:before {
  content: "\e948";
}
.icon-videomax:before {
  content: "\e949";
}
.icon-vote:before {
  content: "\e94a";
}
.icon-word:before {
  content: "\e94b";
}
.icon-wrong:before {
  content: "\e94c";
}
.icon-yingshiping:before {
  content: "\e94d";
}
.icon-zml:before {
  content: "\e94e";
}
